.coder{
	resize: none;
	overflow:hidden;
}
.input{
	overflow-wrap: break-word ;
	resize: vertical;
	height: 200px ;
	width: 100% ;
	border: 2px solid grey;
	outline:none;
}
.output{
	overflow-wrap: break-word ;
	resize: vertical;
	height: 200px ;
	width: 100% ;
	border: 2px solid grey;
	outline:none;
}
textarea{
	font-family: 'JetBrains Mono';
	font-size: large;
	border: 2px solid grey;
	outline:none;
	margin: 5px;
	padding: 0px;
}

button{
	user-select: none;
	width: 100px;
	height:28px;
	border: none;
	font-family: 'JetBrains Mono';
	font-size: large;
	border-radius: 20px;
	outline: none;
	background-color: #dddddd;
}
button:hover{
	background-color: #aaaaaa;
}
body{
	font-family: 'JetBrains Mono';
	font-size: large;
}