.coder{
	resize: none;
	overflow:hidden;
}
.bigBoxWords{
	overflow-y:hidden;
	overflow-wrap: break-word ;
	resize:none;
	height: 200px ;
	width: 100% ;
	border: 2px solid grey;
	outline:none;
}
.smallBoxWords{
	overflow:hidden;
	resize:none;
	height: 28px;
	width: 200px ;
	border: 2px solid grey;
	outline:none;
}
div{
	font-family: 'JetBrains Mono';
	font-size: large;
	border: 2px solid grey;
	outline:none;
	margin: 5px;
	padding: 2px;
}

button{
	user-select: none;
	width: 100px;
	height:28px;
	border: none;
	font-family: 'JetBrains Mono';
	font-size: large;
	border-radius: 20px;
	outline: none;
	background-color: #dddddd;
}
button:hover{
	background-color: #aaaaaa;
}
body{
	text-align: center;
	font-family: 'JetBrains Mono';
	font-size: large;
}