.canvas,
.BigInput {
  overflow-wrap: break-word;
  height: 200px;
  width: calc(100% - 20px);
}
.SmallInput {
  height: fit-content;
  width: 150px;
  display: inline-block;
  font-size: normal;
  font-family: "JetBrains Mono";
  padding: 5px 10px;
}
.canvas,
.SmallInput,
.BigInput {
  overflow: hidden;
  border-radius: 10px;
  resize: none;
  border: 2px solid grey;
  outline: none;
  vertical-align: top;
  margin: 3px;
  background-color: rgb(238, 238, 238);
}
.Line {
  background-color: rgb(255, 128, 128);
  height: 3px;
  position: absolute;
  display: inline-block;
}
.Set {
  background-color: red;
}

.DraggableItem {
  background-color: rgb(207, 207, 207);
  padding: 5px 10px;
  width: fit-content;
  display: inline-block;
  user-select: none;

  text-align: center;
  position: absolute;
}
.Port {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 10px;
  display: inline-block;
  z-index: 10;
}

button {
  user-select: none;
  width: auto;
  height: 28px;
  border: none;
  font-family: "JetBrains Mono";
  font-size: large;
  border-radius: 20px;
  outline: none;
  background-color: #dddddd;

  margin-top: 3px;
}
button:hover {
  background-color: #aaaaaa;
}
body {
  margin: 0px;
  text-align: center;
  font-family: "JetBrains Mono";
  font-size: large;
  line-height: 30px;
}
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: rgb(71, 71, 71);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(241, 241, 241);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(233, 233, 233);
}
